*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/views
database/database.sqlite
database/database.sqlite.backup
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Separate app cloned locally only as a design reference - not part of this repo
/pingpong.ba
