openapi: 3.0.3
info:
  title: MojTurnir API
  version: "1.0"
  description: |
    REST API za MojTurnir (Laravel 12 / Sanctum token auth). Namjerno svedena na minimalan
    skup igračkih endpoint-a - prijava, "moje" podaci (moja takmičenja, moji mečevi),
    samostalni unos meča/rezultata, plus javni referentni podaci (sportovi, gradovi). Svi
    ostali endpoint-i (organizatorski CRUD, timovi, lige, standing-i, upload, tokeni itd.)
    su ukinuti.

    Svi odgovori su omotani u istu envelopu:
      { "success": true|false, "data": ..., "message": "..." }
    Izuzetak su validacijske greške (422), koje vraćaju Laravel-ov standardni oblik
    { "message": "...", "errors": { "polje": ["poruka"] } } - bez "success" ključa.

    Autentifikacija: Bearer token (Laravel Sanctum personal access token), dobijen iz
    POST /api/v1/login ili POST /api/v1/auth/google. Šalje se kao header:
      Authorization: Bearer {token}
    Tokeni ističu nakon 90 dana (konfigurabilno); nema refresh-token flow-a - klijent
    se samo ponovo prijavi kad dobije 401. Nema self-service registracije, odjave niti
    upravljanja tokenima preko ovog API-ja.

    Listing (index) endpoint-i su paginirani - odgovor uz "data" ima i "meta":
      { "current_page": 1, "per_page": 20, "total": 42, "last_page": 3 }
    Podržan query param ?per_page= (max 100).

    Rate limiting: /login i /auth/google su ograničeni na 6 pokušaja/minuti po IP adresi.

    Javni (bez auth) su samo GET /sports i GET /cities.
  contact:
    name: MojTurnir backend
servers:
  - url: https://mojturnir.online/api/v1
    description: Produkcija
  - url: http://localhost:8000/api/v1
    description: Lokalni dev server

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Competitions
  - name: PlayerMatches
  - name: Sports
  - name: Cities
  - name: Venues

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "Sanctum personal access token"

  schemas:
    Envelope:
      type: object
      properties:
        success: { type: boolean }
        data: {}
        message: { type: string }

    ErrorEnvelope:
      type: object
      properties:
        message: { type: string }
        errors:
          type: object
          additionalProperties:
            type: array
            items: { type: string }

    PaginationMeta:
      type: object
      properties:
        current_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
        last_page: { type: integer }

    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string }
        email_verified_at: { type: string, nullable: true }
        google_id: { type: string, nullable: true }
        avatar: { type: string, nullable: true }
        is_admin: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Organization:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        logo: { type: string, nullable: true }
        sport_id: { type: integer }
        is_active: { type: boolean }
        user_id: { type: integer }
        is_owner: { type: boolean, description: "true ako je autentifikovani korisnik vlasnik" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Competition:
      type: object
      description: >
        Ista tabela kao League (`type` razlikuje 'league' vs 'tournament').
        Ovaj resurs pokriva turnire i sve tip-vrijednosti, uključujući grupnu i knock-out fazu.
      properties:
        id: { type: integer }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        location: { type: string, nullable: true }
        organizer_contact: { type: string, nullable: true }
        entry_fee: { type: number, nullable: true }
        organization_id: { type: integer }
        sport_id: { type: integer }
        category_id: { type: integer, nullable: true }
        season_id: { type: integer, nullable: true }
        city_id: { type: integer, nullable: true }
        registration_deadline: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [draft, active, completed, cancelled] }
        start_date: { type: string, format: date, nullable: true }
        end_date: { type: string, format: date, nullable: true }
        max_teams: { type: integer }
        is_team_based: { type: boolean }
        is_double_round: { type: boolean }
        settings: { type: object, nullable: true }
        is_active: { type: boolean }
        is_public: { type: boolean, nullable: true }
        registration_open: { type: boolean, nullable: true }
        is_recreational: { type: boolean }
        allow_rematches: { type: boolean }
        type: { type: string, enum: [league, tournament] }
        max_participants: { type: integer, nullable: true }
        group_count: { type: integer, nullable: true }
        players_per_group: { type: integer, nullable: true }
        players_advancing_per_group: { type: integer, nullable: true }
        group_rounds: { type: integer, nullable: true }
        advancement_method: { type: string, nullable: true, enum: [automatic, manual] }
        current_phase: { type: string, nullable: true, enum: [groups, knockout] }
        knockout_bracket: { type: object, nullable: true }
        groups_completed_at: { type: string, format: date-time, nullable: true }
        knockout_completed_at: { type: string, format: date-time, nullable: true }
        sets_to_win: { type: integer, nullable: true }
        points_per_set: { type: integer, nullable: true }
        deuce_at: { type: integer, nullable: true }
        must_win_by_two: { type: boolean }
        points_for_win: { type: integer }
        points_for_draw: { type: integer }
        points_for_loss: { type: integer }
        has_tiebreak: { type: boolean }
        tiebreak_points: { type: integer, nullable: true }
        manual_knockout_selection: { type: boolean }
        organization: { $ref: "#/components/schemas/Organization" }
        players_count: { type: integer, nullable: true }
        matches_count: { type: integer, nullable: true }
        groups_count: { type: integer, nullable: true }
        is_member: { type: boolean, nullable: true, description: "Da li je prijavljeni korisnik već član - prisutno samo na GET /competitions" }
        has_pending_join_request: { type: boolean, nullable: true, description: "Da li prijavljeni korisnik ima zahtjev na čekanju (POST .../join-requests) - prisutno samo na GET /competitions" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CompetitionMatch:
      type: object
      properties:
        id: { type: integer }
        competition_id: { type: integer }
        team_match_id: { type: integer, nullable: true }
        position_code: { type: string, nullable: true }
        match_order: { type: integer, nullable: true }
        home_team_id: { type: integer, nullable: true }
        away_team_id: { type: integer, nullable: true }
        home_player_id: { type: integer, nullable: true }
        away_player_id: { type: integer, nullable: true }
        home_score: { type: integer, nullable: true }
        away_score: { type: integer, nullable: true }
        scheduled_at: { type: string, format: date-time, nullable: true }
        played_at: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [scheduled, in_progress, completed, forfeited] }
        round: { type: integer, nullable: true }
        sets: { type: array, items: {}, nullable: true }
        forfeited_by: { type: string, nullable: true }
        table_id: { type: integer, nullable: true }
        venue_id: { type: integer, nullable: true }
        referee_user_id: { type: integer, nullable: true }
        referee_name: { type: string, nullable: true }
        phase: { type: string, enum: [group, round_of_16, quarter_final, semi_final, final, third_place] }
        tournament_group_id: { type: integer, nullable: true }
        round_number: { type: integer, nullable: true }
        bracket_position: { type: integer, nullable: true }
        is_bye: { type: boolean }
        home_player_group: { type: integer, nullable: true }
        home_player_position: { type: integer, nullable: true }
        away_player_group: { type: integer, nullable: true }
        away_player_position: { type: integer, nullable: true }
        home_captain_id: { type: integer, nullable: true }
        away_captain_id: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CompetitionJoinRequest:
      type: object
      properties:
        id: { type: integer }
        competition_id: { type: integer }
        user_id: { type: integer }
        user_name: { type: string, nullable: true }
        user_email: { type: string, nullable: true }
        status: { type: string, enum: [pending, approved, rejected] }
        message: { type: string, nullable: true }
        decided_by: { type: integer, nullable: true }
        decided_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Sport:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        icon: { type: string, nullable: true }
        rules: { type: object, nullable: true }
        active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    City:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        slug: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Venue:
      type: object
      description: >
        Teren/dvorana - dijeljena infrastruktura vezana za grad (city_id), ne za
        organizaciju - vise organizacija u istom gradu moze igrati na istom terenu.
      properties:
        id: { type: integer }
        city_id: { type: integer, nullable: true }
        name: { type: string }
        address: { type: string, nullable: true }
        city: { $ref: "#/components/schemas/City" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

  parameters:
    CompetitionSlug:
      name: competition
      in: path
      required: true
      schema: { type: string }
      description: Slug takmičenja/lige (npr. "kup-2026-abc123") ILI numerički id - oba rade.

  responses:
    Unauthorized:
      description: Nema ili je nevažeći Bearer token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Forbidden:
      description: Autentifikovan, ali nema pravo pristupa ovom resursu
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Envelope" }
    NotFound:
      description: Resurs ne postoji
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    ValidationError:
      description: Neispravan payload
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }

paths:
  /register:
    post:
      tags: [Auth]
      summary: Registracija email/lozinka, vraća novi token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password, password_confirmation, role]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                password: { type: string }
                password_confirmation: { type: string }
                role: { type: string, enum: [organizer, player, venue] }
      responses:
        "201":
          description: Nalog kreiran
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user: { $ref: "#/components/schemas/User" }
                          token: { type: string }
        "422": { $ref: "#/components/responses/ValidationError" }

  /login:
    post:
      tags: [Auth]
      summary: Prijava, vraća novi token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Uspješna prijava
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user: { $ref: "#/components/schemas/User" }
                          token: { type: string }
        "422": { description: "Neispravni kredencijali" }

  /auth/google:
    post:
      tags: [Auth]
      summary: Prijava/registracija preko Google (Firebase ID token)
      description: |
        Mobilna app dobija Firebase ID token od "Sign in with Google" (Firebase Auth SDK) i
        šalje ga ovdje na verifikaciju. Ako korisnik već postoji, vraća token odmah. Ako je
        nov, a `role` nije poslan, vraća `data.needs_role = true` + `data.profile`
        (name/email/avatar iz Google naloga) - app treba pitati korisnika ulogu
        (organizer/player/venue) i pozvati endpoint ponovo sa istim `id_token` i sad popunjenim
        `role`, čime se nalog kreira.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token: { type: string }
                role: { type: string, enum: [organizer, player, venue] }
      responses:
        "200":
          description: Prijava (postojeći nalog) ili "potrebna uloga" odgovor za nov nalog
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user: { $ref: "#/components/schemas/User" }
                          token: { type: string }
                          needs_role: { type: boolean }
                          profile:
                            type: object
                            properties:
                              name: { type: string }
                              email: { type: string }
                              avatar: { type: string, nullable: true }
        "201":
          description: Nov nalog kreiran (kad je `role` poslan)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user: { $ref: "#/components/schemas/User" }
                          token: { type: string }
        "422": { description: "Nevažeći/neverifikovan Google token" }

  /me:
    get:
      tags: [Auth]
      summary: Podaci o prijavljenom korisniku
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/competitions:
    get:
      tags: [Auth]
      summary: Takmičenja (lige i turniri) u kojima je prijavljeni igrač učlanjen
      description: |
        Vraća samo takmičenja koja "pripadaju" prijavljenom korisniku (njegov player
        profil je učlanjen preko prijave/dodavanja), ne sva javna takmičenja - za
        "moje lige" početni ekran u mobilnoj app. Ako nalog nema povezan player profil
        (npr. organizatorski nalog), vraća praznu listu.
      parameters:
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Competition" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/competitions/{competition}:
    get:
      tags: [Auth]
      summary: Detalji jednog takmičenja u kojem je prijavljeni igrač učlanjen
      description: |
        Isto kao GET /competitions/{competition}, ali samo za takmičenja gdje je
        prijavljeni korisnik učlanjen kao igrač - 403 ako nije član, čak i ako je
        takmičenje javno.
      parameters: [{ $ref: "#/components/parameters/CompetitionSlug" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Competition" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: "Prijavljeni korisnik nije prijavljen kao igrač na ovom takmičenju"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /competitions:
    get:
      tags: [Competitions]
      summary: Pretraga svih takmičenja na koje se trenutno može prijaviti ("Takmičenja" ekran)
      description: |
        Sva takmičenja (lige i turniri, uključujući ekipna) sa statusom `draft` ili `active`
        koja su trenutno otvorena za prijave (`registration_open=true`, rok za prijavu ako
        postoji nije prošao). `registration_open` je jedini uslov - `is_public` je odvojeno
        polje koje kontroliše samo vidljivost za gledaoce, ne i prijavu. Ekipna takmičenja
        (`is_team_based=true`) se ne mogu samostalno prijaviti preko
        POST /competitions/{competition}/join-requests - klijent treba za njih prikazati
        "kontaktiraj organizatora" umjesto dugmeta za prijavu. Vraća i takmičenja gdje je
        prijavljeni korisnik već član i ona gdje nije (vidi `is_member` u odgovoru i
        `member` filter niže) - ovo NIJE isto što i /me/competitions (to su SAMO
        takmičenja u kojima je prijavljeni igrač već učlanjen). Svaki rezultat nosi i
        `has_pending_join_request` - `true` ako je prijavljeni korisnik već poslao zahtjev
        (POST .../join-requests) koji čeka odluku organizatora, korisno da klijent prikaže
        "Zahtjev poslan" umjesto dugmeta za prijavu i izbjegne duplirani POST (koji vraća
        422 "Već imaš zahtjev na čekanju za ovo takmičenje.").
      parameters:
        - name: search
          in: query
          description: Pretraga po nazivu i opisu takmičenja
          schema: { type: string }
        - name: sport_id
          in: query
          schema: { type: integer }
        - name: city_id
          in: query
          schema: { type: integer }
        - name: member
          in: query
          description: >
            Filtriraj po članstvu prijavljenog korisnika - `true` vraća samo lige gdje je već
            član, `false` samo one gdje nije. Izostavljeno = obje, razlikuju se preko `is_member`.
          schema: { type: boolean }
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Competition" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /competitions/{competition}/join-requests:
    post:
      tags: [Competitions]
      summary: Prijavi se na takmičenje ("Prijavi se" dugme na "Takmičenja" ekranu)
      description: |
        Šalje zahtjev za pridruživanje organizatoru takmičenja - samostalno, bez potrebe
        za članstvom u organizaciji. Dostupno samo dok je `registration_open=true`, i samo
        za pojedinačna takmičenja (`is_team_based=false`) - za ekipna vrati 422, klijent
        treba unaprijed sakriti dugme i prikazati "kontaktiraj organizatora" (vidi
        `is_team_based` na GET /competitions). Ako je prijavljeni korisnik već član ili već
        ima zahtjev na čekanju za ovo takmičenje, vraća 422. Zahtjev ostaje `pending` dok ga
        organizator ne odobri ili odbije.
      parameters: [{ $ref: "#/components/parameters/CompetitionSlug" }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                message: { type: string, nullable: true, description: "Opciona poruka organizatoru" }
      responses:
        "201":
          description: Zahtjev poslan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CompetitionJoinRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: "Prijave zatvorene, ekipno takmičenje, već član, ili već postoji zahtjev na čekanju"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /me/matches:
    get:
      tags: [PlayerMatches]
      summary: Svi mečevi prijavljenog igrača (bilo kog statusa), najnoviji prvi
      parameters:
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/CompetitionMatch" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/matches/upcoming:
    get:
      tags: [PlayerMatches]
      summary: Naredni mečevi prijavljenog igrača (zakazani ili uživo), najskoriji prvi
      parameters:
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/CompetitionMatch" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/matches/completed:
    get:
      tags: [PlayerMatches]
      summary: Završeni mečevi prijavljenog igrača, najnovije odigrani prvi
      parameters:
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/CompetitionMatch" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/competitions/{competition}/matches:
    post:
      tags: [PlayerMatches]
      summary: Zabilježi novi meč (rezultat) protiv odabranog protivnika iz istog takmičenja
      description: |
        Samostalni unos odigranog meča ("Novi meč") - dostupno samo za pojedinačna
        (ne-ekipna) takmičenja sa statusom `active`, i samo ako je prijavljeni korisnik
        učlanjen kao igrač na tom takmičenju. Protivnik mora biti prijavljen na isto
        takmičenje. Ponovni meč protiv istog protivnika je odbijen (422) osim ako
        takmičenje ima `allow_rematches` ili `is_recreational`. Setovi se šalju iz
        perspektive prijavljenog igrača (`mine`/`theirs`) i interno se normalizuju u
        `home`/`away` - prazni krajnji setovi (0:0) se odsijecaju. Ako je takmičenje
        konfigurisano sa `sets_to_win`, rezultat mora biti stvarno odlučen tim brojem
        setova (422 u suprotnom). Meč se odmah upisuje kao `completed`, a standing-i
        lige se prerađunavaju.
      parameters: [{ $ref: "#/components/parameters/CompetitionSlug" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opponent_id, sets]
              properties:
                opponent_id: { type: integer, description: "id igrača (player), ne user id" }
                played_at: { type: string, format: date-time, nullable: true, description: "podrazumijeva se \"sada\" ako izostavljeno" }
                venue_id: { type: integer, nullable: true, description: "id terena (vidi GET /venues)" }
                sets:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    properties:
                      mine: { type: integer, minimum: 0 }
                      theirs: { type: integer, minimum: 0 }
      responses:
        "201":
          description: Meč zabilježen
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CompetitionMatch" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: "Takmičenje je ekipno, nije aktivno, ili prijavljeni korisnik nije igrač na njemu"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /me/matches/{match}/result:
    put:
      tags: [PlayerMatches]
      summary: Upiši/izmijeni rezultat postojećeg meča prijavljenog igrača
      description: |
        Za meč koji je već zakazan (ili odigran) između dva igrača - protivnik je fiksan,
        za razliku od POST /me/competitions/{competition}/matches koji bilježi sasvim nov
        meč. Dostupno samo za lige (ne turnire), pojedinačna takmičenja sa statusom
        `active`, i samo ako je prijavljeni korisnik jedan od dva igrača u meču. Isto
        pravilo za setove (`mine`/`theirs`, `sets_to_win`) kao kod POST-a. Meč se
        postavlja na `completed`, a standing-i lige se prerađunavaju.
      parameters:
        - name: match
          in: path
          required: true
          schema: { type: integer }
          description: Id meča
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [played_at, sets]
              properties:
                played_at: { type: string, format: date-time }
                venue_id: { type: integer, nullable: true }
                sets:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    properties:
                      mine: { type: integer, minimum: 0 }
                      theirs: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Rezultat sačuvan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CompetitionMatch" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: "Takmičenje je ekipno/turnir, nije aktivno, ili prijavljeni korisnik nije jedan od igrača u meču"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /venues:
    get:
      tags: [Venues]
      summary: Lista svih terena/dvorana (javno)
      description: |
        Vraca sve terene, opcionalno filtrirane po gradu. Koristi se za popunjavanje
        dropdown-a pri unosu/izmjeni rezultata meca (npr. venue_id na
        PUT /me/matches/{match}/result).
      security: []
      parameters:
        - name: city_id
          in: query
          schema: { type: integer }
        - name: per_page
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Venue" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }

  /sports:
    get:
      tags: [Sports]
      summary: Lista sportova (javno)
      security: []
      parameters:
        - name: active
          in: query
          schema: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Sport" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }

  /cities:
    get:
      tags: [Cities]
      summary: Lista gradova (javno)
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/City" }
                      meta: { $ref: "#/components/schemas/PaginationMeta" }
